.header-bg {
    background-color: rgba(206, 174, 45, 0.503);
}

.hero-image {
    height: 50%;
    margin-left: 150px;
    background-position: center;
    background-size: cover;
    margin-bottom: 0px;
}

.hero-text {
    text-align: center;
    margin-top: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}